extends common/common

block content
  .container
    content.icon-container
      each repo in repos
        a(href=`/icon?repoName=${repo.repoName}`)
          div.icon
            i(class='repo-icon')
            span #{repo.repoName}
  style(type='text/css').
    .icon {
      height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #eee;
    }
    .icon:hover {
      cursor: pointer;
      background: #eee;
    }