extends common/common

block content
  form(action='/repo' method='post' style='padding: 20px;')
    .form-group
      label 图标库名称
      input#file.form-control-file(type='text' name='repoName')
    .form-group
      input#submit.btn.btn-primary(type='submit' value='提交')