nav.navbar.navbar-expand-md.navbar-light.bg-light
  div.collapse.navbar-collapse
    ul.navbar-nav
      each item in navItems
        a.nav-link.nav-item(href=item.url class=item.active) #{item.label}